<div  class="scrollable">
    <div style="padding:15px" class="scrollable-content">
    
        <form role="form" name="form" novalidate>
            <div class="form-group  has-success has-feedback">
                <label>{{language.SETTINGS.LANGUAGE}}</label>
                <select ng-options="o.Name for o in languges" ng-init="languges[0]" style="line-height:15px" ng-model="settings.language" class="form-control  input-sm text-right">
                    <option value="">--- {{language.SETTINGS.LANGUAGE}} ---</option>
                </select>
            </div>
            <div class="form-group">
                <label>{{language.SETTINGS.LOCATION}}</label>
                <switch ng-model='settings.allowlocation'></switch>
                <!--{{settings.allowlocation}}-->
            </div>
            <!--</fieldset>-->
            <hr>
            <button class="btn btn-primary btn-block" ng-disabled="form.$invalid" ng-click="saveSettings(settings)">
                Submit
            </button>
        </form>
    
    </div>
</div>
<div class="navbar-brand" content-for="title" style="text-align: left">
    <span>{{Title}}</span>
</div>
<div class="btn-group pull-left" content-for="leftnavbarAction">
    <a ng-click="goBack()">
        <div class="btn btn-navbar sidebar-toggle">
            <i class="fa fa-chevron-left"></i>
        </div>
    </a>
</div>