
<div class="scrollable">
    <div style="padding:15px" class="scrollable-content" style="margin-top:10px">
        
        <div facebook 
             data-caption='eKisaan One Stop Solution for Farmers'
             data-picture-url="http://ekisaan.hemantsavkar.in/images/assets/kissan_small.png" 
             data-url='http://ekisaan.hemantsavkar.in' 
             data-shares='shares'>{{ shares }}
        </div>

        <div twitter 
             data-lang="en" 
             data-count='horizontal' 
             data-url='http://ekisaan.hemantsavkar.in' 
             data-via='ekisaan' 
             data-size="medium" 
             data-text='eKisaan One Stop Solution for Farmers'>
        </div>

        <div googleplus></div>
        
        <div linkedin 
             data-url='http://ekisaan.hemantsavkar.in' 
             data-title='eKisaan Share' 
             data-summary="eKisaan One Stop Solution for Farmers" 
             data-shares='linkdinshares'>
        </div>
        
        <div email></div>



    <div class="navbar-brand" content-for="title" style="text-align: left">
        <span>{{Title}}</span>
    </div>
    <div class="btn-group pull-left" content-for="leftnavbarAction">
        <a ng-click="goBack()">
            <div class="btn btn-navbar sidebar-toggle">
                <i class="fa fa-chevron-left"></i>
            </div>
        </a>
    </div>
