<div class="scrollable" ng-show="layoutOption=='blocks'">
    <div class="col-xs-12 scrollable-content" style="margin-top:15px" category-search-menu menus="menus">
    </div>
</div>
<div class="scrollable" ng-show="layoutOption=='list'">
    <div class="scrollable-content">
        <div class="list-group">
            <a ng-repeat="item in menus" href="#/{{item.navigationToView}}" class="list-group-item" style="background-color: transparent; color: blue;font-size:18px">
                <img ng-src="{{item.image}}" style="height:40px;width:40px" />
                {{ item.title }} <i class="fa fa-chevron-right pull-right fa-1x"></i>
            </a>
        </div>
    </div>
</div>






<div class="navbar-brand" content-for="title" style="text-align: left">
    <span>{{Title}}</span>
</div>
<div class="btn-group pull-left" content-for="leftnavbarAction">
    <a ng-click="goBack()">
        <div class="btn btn-navbar sidebar-toggle">
            <i class="fa fa-chevron-left"></i>
        </div>
    </a>
</div>
<div class="btn-group pull-right" content-for="rightnavbarAction">
    <input class="pull-right" type="text" pick-a-date="date" ng-model="date" placeholder="Select Date" style="margin-top:15px; border:none;background-color:transparent;width:88px" pick-a-date-options="options"></input>
</div>

